
<h1>Hey <%= firstname %></h1>
<h2> Recently added </h2>

<div>
  <% books.forEach(book => { %>
    <img height="150" width="100" src="<%= book.coverImagePath %>">
  <% }) %>

</div>

 
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>



