<h1>Register</h1> 
<form action="/register" method="POST">

    <div>
        <input type="text" name="name" id="name" placeholder="Name" required>
    </div>
    <div>
        <input type="text" name="email" id="email" placeholder="example@example.com" required>
    </div>
    <div>
        <input type="text" name="password" id="password" placeholder="password" required>
    </div>

    <button type="submit">Register</button>
</form>
<br> 

<a href="/login">Login </a>